# Week 8: Incstructor-Led Lab
### University of Montana MSBA Program | Spring 2025
### BGEN 632 | Alex McKenzie

In [1]:
# import modules
import os
import numpy as np
import pandas as pd

In [31]:
### I had made it down through cell 30 all by myself, but was having a heck of a time getting the expected return for the columns. After multiple debugging steps, ChatGPT suggested there was a problem with how I was copy-pasting the path name from my Mac finder -- weird! Anyway, it gave me this cell to account for any spacing or dash errors with my path name.

import csv
import pandas as pd

path = '/Users/AlexMcKenzie/Library/CloudStorage/GoogleDrive-alex.c.mckenzie@gmail.com/My Drive/Education/UM Graduate School/BGEN632/week8labs/data/github_teams.csv'

teams_df = pd.read_csv(
    path,
    sep=',',
    engine='python',
    quoting=csv.QUOTE_NONE,
    skipinitialspace=True
)

teams_df.columns = (
    teams_df.columns
    .str.strip()
    .str.strip('"')
)

print(teams_df.columns.tolist())

['name_h', 'Team_type', 'Team_size_class', 'human_members_count', 'bot_members_count', 'human_work', 'work_per_human', 'human_gini', 'human_Push', 'human_IssueComments', 'human_PRReviewComment', 'human_MergedPR', 'bot_work', 'bot_Push', 'bot_IssueComments', 'bot_PRReviewComment', 'bot_MergedPR', 'eval_survival_day_median', 'issues_count']

In [32]:
(teams_df
 .filter(items=["Team_type", "human_work", "work_per_human"], axis=1)
 .head()
)

     Team_type  human_work  work_per_human
0  "human-bot"          66       33.000000
1      "human"          62       31.000000
2      "human"         211       30.142857
3  "human-bot"       14579       62.303419
4  "human-bot"        1625       42.763158

In [40]:
teams_df.filter(regex=r't$', axis=1)

,human_members_count,bot_members_count,human_PRReviewComment,bot_PRReviewComment,issues_count
0,2,1,4,0,8.0
1,2,0,0,0,NaN
2,7,0,1,0,46.0
3,234,12,1170,0,4757.0
4,38,8,152,0,777.0
...,...,...,...,...,...
603,3,1,373,0,NaN
604,2,0,0,0,NaN
605,5,0,2,0,NaN
606,5,0,1,0,10.0
607,2,1,1,1,26.0

In [43]:
(
    teams_df
    .sort_values(by=["Team_size_class", "human_work", "work_per_human"], ascending=False)
    .head()
)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
559,"""WLaEz_1Nf-YWzHZa8bBgAA/pLoAhZ1cbPT38VYoSdXGmg""","""human""","""Small""",3,0,3040,1013.333333,0.292105,434,2606,0,0,0,0,0,0,0,3.0,365.0
209,"""eIPosZ68E2LjtaixYK65EQ/0Rp6D1ZR1w4YspfD1H-PfA""","""human-bot""","""Small""",3,1,1639,546.333333,0.413260,1114,283,223,19,156,0,156,0,0,21.0,204.0
410,"""pxIFRbeuXsUzHtQB3vDwVA/JlkO4fgLE3bD5QjXcU-0CQ""","""human-bot""","""Small""",3,1,913,304.333333,0.549836,130,507,271,5,53,0,53,0,0,50.0,108.0
268,"""hXoZRbHPbVxh--funPXSiw/iNU0l_SpKVjGfHOp8vUt8w""","""human-bot""","""Small""",2,2,910,455.000000,0.065934,207,369,334,0,114,0,114,0,0,4.0,64.0
603,"""zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A""","""human-bot""","""Small""",3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN

In [65]:
print("bot_members_count dtype:", teams_df["bot_members_count"].dtype)
print("bot_members_count sample values:", hb["bot_members_count"].head().tolist())
print("bot_members_count stats:\n", hb["bot_members_count"].describe())

bot_members_count dtype: int64
bot_members_count sample values: []
bot_members_count stats:
 count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: bot_members_count, dtype: float64

In [66]:
hb3 = hb[hb["bot_members_count"] >= 3]
print("After filtering bot_members_count>=3:", hb3.shape)
print(hb3.head())

After filtering bot_members_count>=3: (0, 19)
Empty DataFrame
Columns: [name_h, Team_type, Team_size_class, human_members_count, bot_members_count, human_work, work_per_human, human_gini, human_Push, human_IssueComments, human_PRReviewComment, human_MergedPR, bot_work, bot_Push, bot_IssueComments, bot_PRReviewComment, bot_MergedPR, eval_survival_day_median, issues_count]
Index: []

In [75]:
### I'm having some real issues this assignment with naming conventions of files, rows, and columns. Not sure exactly what's going on, but I'm having to lean on chatGPT a fair bit to use things like a "strip" command to clean up names reference. I'm not entirely lost here as I am familiar with the TRIM command in Excel.

teams_df["Team_type"] = teams_df["Team_type"].str.strip().str.strip('"')

In [76]:
(
    teams_df
    .loc[lambda df: (df["Team_type"] == "human-bot")
                   & (df["bot_members_count"] >= 3)]
    .head()
)

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
3,"""_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA""",human-bot,"""Large""",234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,"""_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g""",human-bot,"""Large""",38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
89,"""5Is-_ie16OEGmW1arZm8qg/8UeSk2P76pTG7pPLtxsHTQ""",human-bot,"""Large""",17,4,7412,436.000000,0.439621,4182,1257,1917,56,358,5,202,151,0,2.0,495.0

In [78]:
import pandas as pd

large_human_high_gini = (
    teams_df
    .assign(Team_type=lambda df: df["Team_type"].str.replace('"', '', regex=False))
    .assign(human_gini=lambda df: pd.to_numeric(df["human_gini"], errors="coerce"))
    .loc[lambda df: 
        (df["Team_type"] == "human") &
        (df["Team_size_class"] == "Large") &
        (df["human_gini"] >= 0.75)
    ]
)

In [92]:
small_large_count = (
    teams_df
    .assign(
        Team_size_class=lambda df: df["Team_size_class"]
            .str.replace('"', '', regex=False)
            .str.strip()
    )
    .loc[lambda df: df["Team_size_class"].isin(["Small", "Large"])
    &     
    (df["human_gini"] >= 0.25)
           ]
)
len(small_large_count)

342

In [93]:
medium_human_count = (
    teams_df
    .assign(
        Team_type=lambda df: df["Team_type"]
            .str.replace('"', '', regex=False)
            .str.strip(),
        Team_size_class=lambda df: df["Team_size_class"]
            .str.replace('"', '', regex=False)
            .str.strip()
    )
    .loc[lambda df: 
        (df["Team_type"] == "human") & 
        (df["Team_size_class"] == "Medium")
    ]
    .shape[0]
)

print(medium_human_count)

96

In [94]:
new_df = teams_df[['Team_size_class', 'work_per_human']].copy()

In [100]:
new_df = teams_df.rename(columns={
    'human_gini': 'work_inequality',
    'eval_survival_day_median': 'issue_resolution_time'
})
new_df

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,work_inequality,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,issue_resolution_time,issues_count
0,"""_1bqaxzCk0sfQaunsjeViQ/RCEZ3CASdLXbstu9y2JQ7Q""",human-bot,"""Small""",2,1,66,33.000000,0.287879,29,33,4,0,43,0,43,0,0,87.0,8.0
1,"""_9o07rGiC7DFyi-zm91Q0g/VOgMsrjYEwFAq0BY8kHqGQ""",human,"""Small""",2,0,62,31.000000,0.467742,62,0,0,0,0,0,0,0,0,NaN,NaN
2,"""_DzK53uaZXnAX3WcC0W28g/Epc4QWw5PNBQIIdvopEHDA""",human,"""Large""",7,0,211,30.142857,0.499661,194,16,1,0,0,0,0,0,0,37.0,46.0
3,"""_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA""",human-bot,"""Large""",234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,"""_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g""",human-bot,"""Large""",38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,"""zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A""",human-bot,"""Small""",3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
604,"""zUBexdmYylGGpxiebXm6gg/sJXD2kulWzU35ijdY3SnBQ""",human,"""Small""",2,0,63,31.500000,0.436508,63,0,0,0,0,0,0,0,0,NaN,NaN
605,"""zVSBi-iRKCzLiqFwVt6hbg/8SfUBIOeWUjDoQxeUCX7wQ""",human,"""Medium""",5,0,26,5.200000,0.446154,19,5,2,0,0,0,0,0,0,NaN,NaN
606,"""zVSBi-iRKCzLiqFwVt6hbg/fm_lDWwc8Uu-aZ24BjUNZg""",human,"""Medium""",5,0,13,2.600000,0.246154,8,4,1,0,0,0,0,0,0,8.0,10.0
607,"""ZX09uvu0z_JVPVI-XrPniQ/pxiuGX_R6QI2Euvx2GFIFw""",human-bot,"""Small""",2,1,57,28.500000,0.043860,32,24,1,0,8,3,4,1,0,5.0,26.0

# References and Notes:

I used ChatGPT for this assignment:

https://drive.google.com/file/d/1u3CKu-_XH40SZrbi3yQ9tO3B35m9nzwB/view?usp=sharing

I was having some issues with naming convetions here; I think maybe it had something to do with how I originally imported the CSV file, because my column names weren't apparently recognized by their comma delimiters; then there were issues with apostrophes; but also the copy-paste command I used at the top of the assignment mucked up the file path, which hadn't happened before...

I've had enough experience to know that consistent technical issues are usually a reflection of a macro error, but I couldn't figure out the root cause for the life of me! Short on time, I opted to have ChatGPT solve a lot of these problems: